<!DOCTYPE html>
<html>
  <head>
    <title>Rails101Movie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" style="margin-top: 70px;">
      <%= render "common/navbar" %>
      <div class="row">
        <%= render "common/flashes" %>
      </div>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
